*{
    margin: 0;
    padding: 0;
}
.cabecalho-imagem{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: ;
}

.cabecalho-imagem{
width: 100%   
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.escola-titulo{
    width: 40%;
    padding: 30px 0;
}
.escola-texto-um{
    width: 100%;
    padding: 20px 0;
    margin: 20px 50px;
}
.escola-texto-dois{
    width: 100%;
    padding: 20px 0;
    margin: 20px 50px;
}