*{
    margin: 0;
    padding: 0;
}
.cabecalho-imagem{
    background-color: #424E61;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: ;
}

.cabecalho-imagem{
width: 100%   
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 40%;
}

.escola{
    background-image: linear-gradient(#424E61,#4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 30%;
}
.escola-titulo{
    padding: 24px 0;
}
